.upload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    margin-bottom: 10px;
}

.upload__progress{
    width: 100%;
}